@import url("css-1.css");
#body-fict h1 ,#body-fict .h1 ,#body-fict .h1 li ,#body-fict .ul-blog-post-content h1{font-family:'Open Sans', 'Georgia', 'serif' !important;font-size:49px !important;line-height:109% !important;}#body-fict h2 ,#body-fict .h2 ,#body-fict .h2 li ,#body-fict .ul-blog-post-content h2{font-family:'Open Sans', 'Georgia', 'serif' !important;font-size:41px !important;line-height:109% !important;}#body-fict h3 ,#body-fict .h3 ,#body-fict .h3 li ,#body-fict .ul-blog-post-content h3{font-family:'Open Sans', 'Georgia', 'serif' !important;font-size:29px !important;line-height:109% !important;}#body-fict h4 ,#body-fict .h4 ,#body-fict .h4 li ,#body-fict .ul-blog-post-content h4{font-family:'Open Sans', 'Georgia', 'serif' !important;font-size:19px !important;line-height:109% !important;}#body-fict, .ul-widget p, #body-fict .normal, #body-fict .normal li, #body-fict li{font-family:'Georgia', 'Arial', 'sans-serif' !important;font-size:16px !important;line-height:162% !important;}#body-fict p.important, #body-fict .important, #body-fict h5, #body-fict h5 li{font-family:'Georgia', 'Arial', 'sans-serif' !important;font-size:20px !important;line-height:162% !important;}#body-fict p.note, #body-fict .note, #body-fict h6, #body-fict h6 li{font-family:'Georgia', 'Arial', 'sans-serif' !important;font-size:14px !important;line-height:162% !important;}#body-fict header .ul-header-editor h1, #body-fict header .ul-header-editor .h1, #body-fict footer .ul-header-editor h1, #body-fict footer .ul-header-editor .h1{font-family:'Open Sans', 'Georgia', 'serif' !important;font-size:30px !important;line-height:40px !important;}#body-fict .price-big{font-family:'Georgia', 'Arial', 'sans-serif' !important;font-size:28px !important;line-height:162% !important;}#body-fict .price-small{font-family:'Georgia', 'Arial', 'sans-serif' !important;font-size:20px !important;line-height:162% !important;}#body-fict .special-404-big{font-family:'Open Sans', 'Georgia', 'serif' !important;font-size:180px !important;line-height:109% !important;}#body-fict .special-404-small{font-family:'Open Sans', 'Georgia', 'serif' !important;font-size:160px !important;line-height:109% !important;}#body-fict .timer{font-family:'Open Sans', 'Georgia', 'serif' !important;font-size:14px !important;line-height:109% !important;}#body-fict .large{font-family:'Georgia', 'Arial', 'sans-serif' !important;font-size:18px !important;line-height:162% !important;}#body-fict .middle{font-family:'Georgia', 'Arial', 'sans-serif' !important;font-size:16px !important;line-height:162% !important;}#body-fict .small{font-family:'Georgia', 'Arial', 'sans-serif' !important;font-size:14px !important;line-height:162% !important;}


































































































































































































































































.hAqxkj.uspacer{height:50px;}@media (max-width:992px){.hAqxkj.uspacer{height:50px;}}@media (max-width:480px){.hAqxkj.uspacer{height:50px;}}data-styled.g8[id="sc-Axmtr"]{content:"hAqxkj,"}
.hAqxkj.uspacer{height:50px;}@media (max-width:992px){.hAqxkj.uspacer{height:50px;}}@media (max-width:480px){.hAqxkj.uspacer{height:50px;}}data-styled.g8[id="sc-Axmtr"]{content:"hAqxkj,"}
.hAqxkj.uspacer{height:50px;}@media (max-width:992px){.hAqxkj.uspacer{height:50px;}}@media (max-width:480px){.hAqxkj.uspacer{height:50px;}}data-styled.g8[id="sc-Axmtr"]{content:"hAqxkj,"}
.hAqxkj.uspacer{height:50px;}@media (max-width:992px){.hAqxkj.uspacer{height:50px;}}@media (max-width:480px){.hAqxkj.uspacer{height:50px;}}data-styled.g8[id="sc-Axmtr"]{content:"hAqxkj,"}
.hAqxkj.uspacer{height:50px;}@media (max-width:992px){.hAqxkj.uspacer{height:50px;}}@media (max-width:480px){.hAqxkj.uspacer{height:50px;}}data-styled.g8[id="sc-Axmtr"]{content:"hAqxkj,"}
.hAqxkj.uspacer{height:50px;}@media (max-width:992px){.hAqxkj.uspacer{height:50px;}}@media (max-width:480px){.hAqxkj.uspacer{height:50px;}}data-styled.g8[id="sc-Axmtr"]{content:"hAqxkj,"}
.hAqxkj.uspacer{height:50px;}@media (max-width:992px){.hAqxkj.uspacer{height:50px;}}@media (max-width:480px){.hAqxkj.uspacer{height:50px;}}data-styled.g8[id="sc-Axmtr"]{content:"hAqxkj,"}
.hAqxkj.uspacer{height:50px;}@media (max-width:992px){.hAqxkj.uspacer{height:50px;}}@media (max-width:480px){.hAqxkj.uspacer{height:50px;}}data-styled.g8[id="sc-Axmtr"]{content:"hAqxkj,"}
.hAqxkj.uspacer{height:50px;}@media (max-width:992px){.hAqxkj.uspacer{height:50px;}}@media (max-width:480px){.hAqxkj.uspacer{height:50px;}}data-styled.g8[id="sc-Axmtr"]{content:"hAqxkj,"}
.hAqxkj.uspacer{height:50px;}@media (max-width:992px){.hAqxkj.uspacer{height:50px;}}@media (max-width:480px){.hAqxkj.uspacer{height:50px;}}data-styled.g8[id="sc-Axmtr"]{content:"hAqxkj,"}
.hAqxkj.uspacer{height:50px;}@media (max-width:992px){.hAqxkj.uspacer{height:50px;}}@media (max-width:480px){.hAqxkj.uspacer{height:50px;}}data-styled.g8[id="sc-Axmtr"]{content:"hAqxkj,"}
.lmnAeS.ul-uButton__wrapper{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}.lmnAeS.ul-uButton__wrapper .ul-uButton__button{cursor:pointer;-webkit-text-decoration:none;text-decoration:none;}.lmnAeS.ul-uButton .ul-uButton__button{background:rgba(255,255,255,1);padding: 12px  24px;border:none;border-radius:4px;box-shadow:none;}.lmnAeS.ul-uButton .ul-uButton__caption{font-family:Georgia,Arial,sans-serif;color:rgba(0,0,0,1);font-size:18px;line-height:1.62;}data-styled.g6[id="sc-AxgMl"]{content:"lmnAeS,"}
.lmnAeS.ul-uButton__wrapper{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}.lmnAeS.ul-uButton__wrapper .ul-uButton__button{cursor:pointer;-webkit-text-decoration:none;text-decoration:none;}.lmnAeS.ul-uButton .ul-uButton__button{background:rgba(255,255,255,1);padding: 12px  24px;border:none;border-radius:4px;box-shadow:none;}.lmnAeS.ul-uButton .ul-uButton__caption{font-family:Georgia,Arial,sans-serif;color:rgba(0,0,0,1);font-size:18px;line-height:1.62;}data-styled.g6[id="sc-AxgMl"]{content:"lmnAeS,"}


















































































































































